USE [master]

USE [Demo_Seliverstov]

CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NULL,
	[DeliveryData] [datetime] NULL,
	[PointIssue] [int] NULL,
	[ClientID] [int] NULL,
	[CodeToGet] [float] NULL,
	[OrderStatues] [nvarchar](255) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProduct]    Script Date: 08.12.2023 21:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProduct](
	[ProductArticleNumber] [nvarchar](255) NULL,
	[Quantity] [int] NULL,
	[OrderID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PointOfIssue]    Script Date: 08.12.2023 21:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointOfIssue](
	[IssueID] [int] IDENTITY(1,1) NOT NULL,
	[PointOfIssue] [nvarchar](255) NULL,
 CONSTRAINT [PK_PointOfIssue] PRIMARY KEY CLUSTERED 
(
	[IssueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 08.12.2023 21:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductArticleNumber] [nvarchar](255) NOT NULL,
	[ProductName] [nvarchar](255) NULL,
	[UnitMeasure] [nvarchar](255) NULL,
	[Cost] [float] NULL,
	[MaxDiscount] [float] NULL,
	[Manufacturer] [nvarchar](255) NULL,
	[Supplier] [nvarchar](255) NULL,
	[Category] [nvarchar](255) NULL,
	[CurrDiscount] [float] NULL,
	[QuantityStock] [float] NULL,
	[Description] [nvarchar](255) NULL,
	[ProductPhoto] [nvarchar](255) NULL,
 CONSTRAINT [PK_Product1] PRIMARY KEY CLUSTERED 
(
	[ProductArticleNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 08.12.2023 21:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 08.12.2023 21:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
	[Role] [int] NULL,
	[Surname] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Patronymic] [nvarchar](255) NULL,
 CONSTRAINT [PK_User$] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [OrderDate], [DeliveryData], [PointIssue], [ClientID], [CodeToGet], [OrderStatues]) VALUES (1, CAST(N'2022-05-01T00:00:00.000' AS DateTime), CAST(N'2022-05-07T00:00:00.000' AS DateTime), 2, 101, 111, N'Новый ')
INSERT [dbo].[Order] ([OrderID], [OrderDate], [DeliveryData], [PointIssue], [ClientID], [CodeToGet], [OrderStatues]) VALUES (2, CAST(N'2022-05-02T00:00:00.000' AS DateTime), CAST(N'2022-05-08T00:00:00.000' AS DateTime), 8, NULL, 112, N'Новый ')
INSERT [dbo].[Order] ([OrderID], [OrderDate], [DeliveryData], [PointIssue], [ClientID], [CodeToGet], [OrderStatues]) VALUES (3, CAST(N'2022-05-03T00:00:00.000' AS DateTime), CAST(N'2022-05-09T00:00:00.000' AS DateTime), 10, NULL, 113, N'Новый ')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderProduct] ([ProductArticleNumber], [Quantity], [OrderID]) VALUES (N'K478R4', 10, 1)
INSERT [dbo].[OrderProduct] ([ProductArticleNumber], [Quantity], [OrderID]) VALUES (N'S563T4', 2, 2)
INSERT [dbo].[OrderProduct] ([ProductArticleNumber], [Quantity], [OrderID]) VALUES (N'K083T5', 11, 3)
GO
SET IDENTITY_INSERT [dbo].[PointOfIssue] ON 

INSERT [dbo].[PointOfIssue] ([IssueID], [PointOfIssue]) VALUES (1, N'344288, г. Ковров, ул. Чехова, 1')
INSERT [dbo].[PointOfIssue] ([IssueID], [PointOfIssue]) VALUES (2, N'614164, г.Ковров,  ул. Степная, 30')
INSERT [dbo].[PointOfIssue] ([IssueID], [PointOfIssue]) VALUES (3, N'394242, г. Ковров, ул. Коммунистическая, 43')
SET IDENTITY_INSERT [dbo].[PointOfIssue] OFF
GO
INSERT [dbo].[Product] ([ProductArticleNumber], [ProductName], [UnitMeasure], [Cost], [MaxDiscount], [Manufacturer], [Supplier], [Category], [CurrDiscount], [QuantityStock], [Description], [ProductPhoto]) VALUES (N'B025Y5', N'Блюдо', N'шт.', 1890, 5, N'Home Philosophy', N'Стокманн', N'Интерьерные аксессуары', 3, 8, N'Блюдо декоративное flower 35 см Home Philosophy', NULL)
INSERT [dbo].[Product] ([ProductArticleNumber], [ProductName], [UnitMeasure], [Cost], [MaxDiscount], [Manufacturer], [Supplier], [Category], [CurrDiscount], [QuantityStock], [Description], [ProductPhoto]) VALUES (N'B037T5', N'Блюдо', N'шт.', 690, 5, N'Home Philosophy', N'Стокманн', N'Интерьерные аксессуары', 2, 14, N'Блюдо декоративное Flower 35 см', NULL)
INSERT [dbo].[Product] ([ProductArticleNumber], [ProductName], [UnitMeasure], [Cost], [MaxDiscount], [Manufacturer], [Supplier], [Category], [CurrDiscount], [QuantityStock], [Description], [ProductPhoto]) VALUES (N'D034T5', N'Диффузор', N'шт.', 800, 20, N'Miksdo', N'Hoff', N'Ароматы для дома', 2, 15, N'Диффузор Mikado intense Апельсин с корицей', N'D034T5.jpg')
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Client')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Admin')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'Manager')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Login], [Password], [Role], [Surname], [Name], [Patronymic]) VALUES (1, N'loginDEbct2018', N'Qg3gff', 1, N'Алексеев ', N'Владислав', N'Аркадьевич')
INSERT [dbo].[User] ([UserID], [Login], [Password], [Role], [Surname], [Name], [Patronymic]) VALUES (2, N'loginDEvtg2018', N'ETMNzL', 2, N'Савельева ', N'Евфросиния', N'Арсеньевна')
INSERT [dbo].[User] ([UserID], [Login], [Password], [Role], [Surname], [Name], [Patronymic]) VALUES (3, N'loginDEuro2018', N'a1MIcO', 1, N'Никонов ', N'Мэлс', N'Лукьевич')
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_PointOfIssue] FOREIGN KEY([PointIssue])
REFERENCES [dbo].[PointOfIssue] ([IssueID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_PointOfIssue]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([OrderID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Order]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Product] FOREIGN KEY([ProductArticleNumber])
REFERENCES [dbo].[Product] ([ProductArticleNumber])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Product]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
/****** Object:  StoredProcedure [dbo].[addProduct]    Script Date: 08.12.2023 21:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[addProduct]
	@ProductArticleNumber nvarchar(255),
	@ProductName nvarchar(255),
	@UnitMeasure nvarchar(255),
	@Cost float,
	@MaxDiscount float,
	@Manufacturer nvarchar(255),
	@Supplier nvarchar(255),
	@Category nvarchar (255),
	@CurrDiscount float,
	@QuantityStock float,
	@Description nvarchar(255),
	@ProductPhoto nvarchar (255)
	

	AS
BEGIN
INSERT INTO dbo.[Product] (ProductArticleNumber, ProductName, UnitMeasure, Cost, MaxDiscount, Manufacturer, Supplier, Category, CurrDiscount, QuantityStock, "Description", ProductPhoto)
Values   (@ProductArticleNumber, @ProductName, @UnitMeasure, @Cost, @MaxDiscount, @Manufacturer, @Supplier, @Category, @CurrDiscount, @QuantityStock, @Description, @ProductPhoto)
END

GO
/****** Object:  StoredProcedure [dbo].[checkpassword]    Script Date: 08.12.2023 21:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[checkpassword]

@Login nvarchar(255),
@Password nvarchar(255)
AS
BEGIN
SELECT *
FROM [User]
where [Login] = @Login and [Password] = @password  
END

GO
USE [master]
GO
